@import-normalize;

/* Предварительно, создаём корневой файл .vscode/settings.json
В нем пишем
{
  "css.lint.unknownAtRules": "ignore"
}

Без этого файла @import-normalize будет ругаться
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: "Nunito Sans", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;
}

/* Каждый раз, когда мы будем менять тему, у нас будет меняться набор переменных */
body[data-theme="dark"] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme="light"] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}

.example {
  width: 100px;
  /*  */

  @media (min-width: 767px) {
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
/* 
Для всех дочерних элементов
 & > * {
    box-shadow: none;
  }

Вложенный инпут будет иметь паддинг слева
 & input {
    padding-left: 0.25rem;
  }


Для всех вложенных элементов
  & * {
    color: var(--colors-text)
  }

Для всех вложенных тегов b
  & > b {
    font-weight: var(--fw-bold);
  }

Вложенный див с id (всего один див с id) красим соответственно цветовой теме. 
 & > div[id] {
    background-color: var(--colors-ui-base);
  }
*/
